<div class="loader" *ngIf="isLoading">
    <app-loader></app-loader>
</div>
<div class="endloader" *ngIf="!isLoading">
    <h1>NEWS</h1>
    <div class="news">
        <div class="news__posts">
            <div class="posts__post">
                <div class="posts__post--img"><img class="posts__post--img" src="https://images.unsplash.com/photo-1605163598789-e6b9a7d43725?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt=""></div>
                <div class="posts__post--title"><p>Happy 1st spring day!</p></div>
                <div class="posts__post--date"><p>21 March 2023</p></div>
                <div class="posts__post--paragraph"><p>Spring is finally here, and it's the perfect time to start enjoying the great outdoors once again. Being active outside can help improve your mood and reduce stress levels. It's an opportunity to get some much-needed vitamin D from the sun. Walking, running, or cycling outside is a great way to get some exercise while enjoying the beauty of nature. Spring is the perfect time to go birdwatching or take a nature hike and see all the new plants and animals. You can go on a picnic with friends or family and enjoy the first signs of spring. Spring is a great time to try new outdoor activities like gardening, kayaking, or rock climbing... <button>READ MORE</button></p></div>
            </div>
            <div class="posts__post">
                <div class="posts__post--img"><img src="https://images.unsplash.com/photo-1588286840104-8957b019727f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt=""></div>
                <div class="posts__post--title"><p>Yoga classes have started!</p></div>
                <div class="posts__post--date"><p>7 March 2023</p></div>
                <div class="posts__post--paragraph"><p>If you're looking for a way to improve your physical and mental well-being, yoga might be the perfect fit for you. Yoga is an ancient practice that can help improve flexibility, strength, and balance while reducing stress and anxiety. Joining a yoga class can be a great way to start your journey and meet like-minded individuals. Whether you're a beginner or an experienced yogi, there's always something new to learn and explore. So why not give it a try and see how yoga can benefit your life... <button>READ MORE</button></p></div>
            </div>
            <div class="posts__post">
                <div class="posts__post--img"><img class="posts__post--img" src="https://images.unsplash.com/photo-1571019614242-c5c5dee9f50b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt=""></div>
                <div class="posts__post--title"><p>Special offer for valentine's!</p></div>
                <div class="posts__post--date"><p>12 February 2023</p></div>
                <div class="posts__post--paragraph"><p>Looking for a unique way to celebrate Valentine's Day this year? Check out our new couples gym package! This offer includes a month of gym membership for two and a personal training session for couples. Get fit together and strengthen your bond while achieving your fitness goals. Plus, with our state-of-the-art equipment and experienced trainers, you'll have everything you need to make your fitness journey a success... <button>READ MORE</button></p></div>
            </div>
            <div class="posts__post">
                <div class="posts__post--img"><img class="posts__post--img" src="https://images.unsplash.com/photo-1513593771513-7b58b6c4af38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" alt=""></div>
                <div class="posts__post--title"><p>Join LiftLab's New Year's Day Run!</p></div>
                <div class="posts__post--date"><p>12 January 2023</p></div>
                <div class="posts__post--paragraph"><p>Looking for a fun and healthy way to start off the new year? Join LiftLab gym's New Year's Day run on January 12th! This exciting event will not only help you kickstart your fitness goals, but also give you a chance to connect with other health enthusiasts in your community. Whether you're a seasoned runner or just starting out, this run is perfect for all fitness levels. Don't miss out on this opportunity to start your year off on the right foot! Register now for... <button>READ MORE</button></p></div>
            </div>
            <div class="posts__post">
                <div class="posts__post--img"><img class="posts__post--img" src="https://cdn.pixabay.com/photo/2016/12/05/18/09/christmas-1884597_960_720.jpg" alt=""></div>
                <div class="posts__post--title"><p>Chrimstmas holidays opening hours!</p></div>
                <div class="posts__post--date"><p>20 December 2022</p></div>
                <div class="posts__post--paragraph"><p>Attention all customers! Please note that our store will be open from 10am to 3pm on December 24th, but will be closed on December 25th, 26th, and January 1st. We will resume our regular operating hours on all other days. We apologize for any inconvenience this may cause and wish you a happy and safe holiday season... <button>READ MORE</button></p></div>
            </div>
            <div class="posts__post">
                <div class="posts__post--img"><img class="posts__post--img" src="https://images.unsplash.com/photo-1583473848882-f9a5bc7fd2ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt=""></div>
                <div class="posts__post--title"><p>Get Ready to Rumble: Our New Boxing Section is Now Open!</p></div>
                <div class="posts__post--date"><p>10 December 2022</p></div>
                <div class="posts__post--paragraph"><p>Exciting news for all fitness enthusiasts! We are thrilled to announce the grand opening of our new boxing section at the gym. Our state-of-the-art facility is equipped with all the necessary boxing equipment, including punching bags, gloves, and speed bags, to help you achieve your fitness goals. Whether you're a beginner or an experienced boxer, our experienced trainers are here to guide and support you every step of the way. Come check out our new boxing section and experience a fun and challenging workout that will leave you feeling stronger and more confident... <button>READ MORE</button></p></div>
            </div>
            <button class="moreposts">View more posts</button>
        </div>
        <div class="news__more">
            <div class="input"><input type="text" placeholder="Search"><button><i class="fa-solid fa-magnifying-glass"></i></button></div>
            <div class="categories">
                <h3>Categories</h3>
                <div class="categories__category">><p>General</p>(18)</div>
                <hr>
                <div class="categories__category">><p>Running</p>(8)</div>
                <hr>
                <div class="categories__category">><p>Yoga</p>(2)</div>
                <hr>
                <div class="categories__category">><p>Boxing</p>(4)</div>
                <hr>
                <div class="categories__category">><p>Holidays</p>(3)</div>
            </div>
            <div class="populartags">
                <div class="tags">
                    <h3>Popular Tags</h3>
                    <hr>
                    <span class="tags__tag">#Gym</span>
                    <span class="tags__tag">#Running</span>
                    <span class="tags__tag">#Yoga</span>
                    <br>
                    <span class="tags__tag">#Boxing</span>
                    <span class="tags__tag">#Motivation</span>
                    <span class="tags__tag">#Workout</span>
                    <br>
                    <span class="tags__tag">#Outdoor</span>
                    <span class="tags__tag">#Indoor</span>
                    <span class="tags__tag">#Summer</span>
                </div>
            </div>
        </div>
    </div>
</div>