<div class="footer">
    <div class="socials">
        <div class="socials__img"></div>
        <div class="socials__mainparagraph">Unlock your true potential at our gym! Let our experienced trainers guide you towards your fitness goals and help you achieve your best self. Embrace the challenge, push your limits, and transform your body and mind. Join our community of dedicated fitness enthusiasts and discover the energy and confidence that come with a healthy lifestyle.</div>
        <div class="socials__links">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-youtube"></i>
        </div>
        <div class="socials__paragraph">Privacy Policy | © 2023 LiftLab</div>
        <div class="socials__paragraph">Designed and made by @kubaglowczynski</div>
    </div>
    <div class="pages">
        <a routerLink="/">Home</a>
        <a routerLink="/news">News</a>
        <a routerLink="/about">About</a>
        <a routerLink="/offer">Offer</a>
        <a routerLink="/schedule">Schedule</a>
        <a routerLink="/pricing">Pricing</a>
        <a routerLink="/contact">Contact</a>
    </div>
    <div class="openinghours">
        <h3>Opening hours:</h3>
        <h2>Monday - Saturday</h2>
        <h2>8:00 - 22:00</h2>
    </div>
</div>