<div class="home">
    <div class="classes">
        <div class="info">
            <p>FIND YOUR ENERGY</p>
            <h3>MAKE YOUR BODY</h3>
            <h4>FIT & PERFECT</h4>
        </div>
        <div class="buttons">
            <button>Look at gym offer</button>
            <button>Find classes schedule</button>
        </div>
    </div>
    <div class="exercise-zones">
        <div class="cardio">CARDIO</div>
        <div class="strength">STRENGTH</div>
        <div class="spining">SPINING</div>
        <div class="sauna">SAUNA</div>
    </div>
</div>