<div class="home">
    <div class="classes">
        <div class="info">
            <p>FIND YOUR ENERGY</p>
            <h3>MAKE YOUR BODY</h3>
            <h4>FIT & PERFECT</h4>
        </div>
        <div class="buttons">
            <button class="buttons__btn">LOOK AT OUR OFFER</button>
            <button class="buttons__btn">CLASSES SCHEDULE</button>
        </div>
    </div>
    <div class="exercise-zones">
        <div class="cardio">CARDIO</div>
        <div class="strength">STRENGTH</div>
        <div class="spining">SPINING</div>
        <div class="sauna">SAUNA</div>
    </div>
    <div class="gallery-pricing-section">
        <div class="gallery">
            <div class="images">
                <div class="images__img"></div>
                <div class="images__img"></div>
                <div class="images__img"></div>
                <div class="images__img"></div>
                <div class="images__img"></div>
                <div class="images__img"></div>
                <div class="images__img"></div>
                <div class="images__img"></div>
                <div class="images__img"></div>
            </div>
            <div class="panelcontrol">
                <button>lewo</button>
                <button>prawo</button>
            </div>
        </div>
        <div class="pricing">

        </div>
    </div>
</div>