.home{
    margin-top: 10vh;
@media only screen and (max-width: 640px) {
    margin-top: 7vh;
}
.classes{
    background: url("https://images.unsplash.com/photo-1519505907962-0a6cb0167c73?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media only screen and (max-width: 640px) {
        height: 60vh;
        flex-direction: column;
    }
    .info{
        color: #F5DEB3;
        font-size: 2rem;
        text-shadow: 2px 2px black;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        &__btn{
            border: 2px solid;
            border-radius: 5px;
            border-color: #252525;
            animation: border-color 15s linear infinite;
            margin: 10px;
            padding: 20px 10px;
            background-color: rgba(#252525, 0.7);
            color: #F5DEB3;
            cursor: pointer;
            &:hover {
                border: 2px solid #252525;
                animation: none;
            }
        }
    }
}
.exercise-zones{
  height: 400px;
  background: rgb(184,218,218);
  background: linear-gradient(0deg, rgba(184,218,218,1) 0%, rgba(65,59,47,1) 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media only screen and (max-width: 640px) {
    flex-direction: column;
    height: 1000px;
  }
  .cardio,
  .strength,
  .spining,
  .sauna{
    color: #fff;
    font-size: 2rem;
    text-shadow: 2px 2px black;

    height: 500px;
    width: 300px;

    border-radius: 50px 5px;
    box-shadow: 0 0 10px black;
    margin: 50px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    place-content: center;
    filter: grayscale(80%);
    cursor: pointer;

    &:hover{
      filter: grayscale(0%);
    }
  }
}
}

.cardio{
  background: url("https://images.unsplash.com/photo-1578874691223-64558a3ca096?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
}
.strength{
  background: url("https://images.unsplash.com/photo-1576678927484-cc907957088c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}
.spining{
  background: url("https://images.unsplash.com/photo-1591741535018-d042766c62eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}
.sauna{
  background: url("https://cdn.pixabay.com/photo/2021/11/01/04/19/bucket-6759371_960_720.jpg");
}

@keyframes border-color {
    0% {
      border-color: #252525;
    }
    25% {
      border-color: #F5DEB3;
    }
    50% {
      border-color: #252525;
    }
    75% {
      border-color: #F5DEB3;
    }
    100% {
      border-color: #252525;
    }
  }

  .gallery-pricing-section{
    height: 800px;
    display: flex;
    @media only screen and (max-width: 640px) {
      flex-direction: column;
      height: 800px;
    }
    .gallery{
      width: 50%;
      background-color: greenyellow;
      padding: 100px;
      @media only screen and (max-width: 640px) {
        height: 50%;
        width: 100%;
        padding: 0;
      }
      .images{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

        &__img{
          width: 90%;
          height: 90%;
          border: 1px solid black;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:nth-child(1){
            background-image: url("https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
          }
          &:nth-child(2){
            background-image: url("https://images.unsplash.com/photo-1581009137042-c552e485697a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
          }
        }

      }
      .panelcontrol{
        display: flex;
        justify-content: center;
      }
  }
    .pricing{
      width: 50%;
      background-color: red;
      @media only screen and (max-width: 640px) {
        height: 50%;
        width: 100%;
      }
    }
  }