<div class="home">
    <div class="classes">
        <div class="info">
            <p>FIND YOUR ENERGY</p>
            <h3>MAKE YOUR BODY</h3>
            <h4>FIT & PERFECT</h4>
        </div>
        <div class="buttons">
            <button routerLink="/offer" class="buttons__btn">LOOK AT OUR OFFER</button>
            <button routerLink="/schedule" class="buttons__btn">CLASSES SCHEDULE</button>
        </div>
    </div>
    <div class="exercise-zones">
        <div routerLink="/offer" class="cardio">CARDIO</div>
        <div routerLink="/offer" class="strength">STRENGTH</div>
        <div routerLink="/offer" class="spining">SPINING</div>
        <div routerLink="/offer" class="sauna">SAUNA</div>
    </div>
    <div class="gallery-pricing-section">
        <div class="gallery">
                <div class="cards">
                    <div class="cards__group" data-index="0" [ngStyle]="styleCards0">
                        <div class="card--little card"></div>
                        <div class="card--big card"></div>
                        <div class="card--little card"></div>
                        <div class="card--big card"></div>
                        <div class="card--little card"></div>
                        <div class="card--big card"></div>
                        <div class="card--little card"></div>
                        <div class="card--big card"></div>
                    </div>
                    <div class="cards__group" data-index="1" [ngStyle]="styleCards1">
                        <div class="card--little card"></div>
                        <div class="card--big card"></div>
                        <div class="card--little card"></div>
                        <div class="card--big card"></div>
                        <div class="card--little card"></div>
                        <div class="card--big card"></div>
                        <div class="card--little card"></div>
                        <div class="card--big card"></div>
                    </div>
                    <div class="cards__group" data-index="2" [ngStyle]="styleCards2">
                        <div class="card--little card"></div>
                        <div class="card--big card"></div>
                        <div class="card--little card"></div>
                        <div class="card--big card"></div>
                        <div class="card--little card"></div>
                        <div class="card--big card"></div>
                        <div class="card--little card"></div>
                        <div class="card--big card"></div>
                    </div>
                </div>
            <div class="cards__buttons">
                <button class="cards__buttons--left" (click)="goingLeft()">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <button class="cards__buttons--right" (click)="goingRight()">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div routerLink="/pricing" class="pricing"></div>
    </div>
    <div class="newssection">
        <div class="newssection__title"><p>Our Recent News</p></div>
        <div class="newssection__posts">
            <div class="post">
                <div class="post__date">21 March 2023</div>
                <div class="post__title">Happy 1st spring day!</div>
                <div class="post__paragraph">Spring is finally here, and it's the perfect time to start enjoying the great outdoors once again. Being active outside can help improve your mood and reduce stress levels. <button class="post__readmore">READ MORE</button></div>
            </div>
            <div class="post">
                <div class="post__date">7 March 2023</div>
                <div class="post__title">Yoga classes have started!</div>
                <div class="post__paragraph">If you're looking for a way to improve your physical and mental well-being, yoga might be the perfect fit for you. Yoga is an ancient practice that can help improve flexibility, strength, and balance while reducing stress and anxiety. <button class="post__readmore">READ MORE</button></div>
            </div>
            <div class="post">
                <div class="post__date">12 February 2023</div>
                <div class="post__title">Special offer for valentine's!</div>
                <div class="post__paragraph">Looking for a unique way to celebrate Valentine's Day this year? Check out our new couples gym package! This offer includes a month of gym membership for two and a personal training session for couples. <button class="post__readmore">READ MORE</button></div>
            </div>
        </div>
    </div>
    <div class="contactsection">
        <p><i class="fa-solid fa-envelope"></i> liftlab@gmail.com</p>
        <p><i class="fa-solid fa-phone-volume"></i> 317-565-7293</p>
        <p><i class="fa-solid fa-location-dot"></i> Meridian St Suite 10A, Indianapolis</p>
    </div>
</div>