<h1>PRICING</h1>
<div class="main">
<div class="mainoffer">
    <img src="https://pbs.twimg.com/media/FvR6CGjWAAA6_Mf?format=jpg&name=4096x4096" alt="">
    <div class="info">
        <p class="title">Buy monthly pass</p>
        <ul>
            <li>hhsasd</li>
            <li>hhsasd</li>
            <li>hhsasd</li>
            <li>hhsasd</li>
            <li>hhsasd</li>
        </ul>
        <button>GET MONTHLY PASS</button>
    </div>
</div>
<div class="offers">
    <div class="offers__offer">
        <div class="title">first training</div>
        <div class="price">0$</div>
        <button class="btn">SHOW MORE</button>
    </div>
    <div class="offers__offer">
        <div class="title">day pass</div>
        <div class="price">10$</div>
        <button class="btn">SHOW MORE</button>
    </div>
    <div class="offers__offer">
        <div class="title">mounthly pass</div>
        <div class="price"><span class="oldprice">60$ </span>30$</div>
        <button class="btn">SHOW MORE</button>
    </div>
    <div class="offers__offer">
        <div class="title">year pass</div>
        <div class="price">500$</div>
        <button class="btn">SHOW MORE</button>
    </div>
    <div class="offers__offer">
        <div class="title">year pass for students</div>
        <div class="price">300$</div>
        <button class="btn">SHOW MORE</button>
    </div>
</div>
<div class="faq">WHERE IS THIS GYM?</div>
</div>
