h1{
    margin-top: 10vh;
    font-size: 3rem;
    padding: 50px;
}
.main{
    background: url("https://cdn.pixabay.com/photo/2015/07/02/10/27/training-828764_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5vw;
    animation: display 0.3s ease-in;
}
.mainoffer{
    margin: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 900px) {
        flex-direction: column;
        font-size: 13px;
    }
    img{
        margin-top: 5vw;
        width: 28vw;
        height: 40vw;
        border-radius: 5px 5px 5px 50px;
        @media only screen and (max-width: 900px) {
            width: 60vw;
            height: 80vw;
            margin: 5vw;
        }
    }
    .info{
        font-size: 28px;
        margin-top: 5vw;
        margin-left: 2vw;
        padding-left: 2vw;
        width: 28vw;
        height: 40vw;
        border-radius: 5px 50px 5px 5px;
        background-color: rgba(255, 255, 255, 0.7);
        display: grid;
        place-content: center;
        li{
            list-style-type: "✔️";
        }
        button{
            border: 1px solid #2b2b2b;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.6);
            color: rgb(5, 138, 5);
            font-size: 25px;
            margin: 30px 10px;
            transition: 0.3s;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                background-color: rgba(255, 255, 255, 0.7);
                font-weight: 1000;
                letter-spacing: 2px;
            }
        }
        @media only screen and (max-width: 1200px) {
            font-size: 20px;
        }
        @media only screen and (max-width: 900px) {
            width: 60vw;
            height: 80vw;
            margin: 5vw;
            font-size: 12px;
        }
    }
}
.offers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vw 10vw;
    @media only screen and (max-width: 900px) {
        flex-direction: column;
    }
    &__offer{
        width: 15vw;
        height: 20vw;
        background: url("https://img.freepik.com/free-vector/realistic-grain-paper-texture_23-2149103334.jpg?w=1480&t=st=1686006335~exp=1686006935~hmac=03a94e6b11115026d753e350e6cfac2b7829bd9023cf9282931228e8004945bd");
        cursor: pointer;
        border-radius: 50px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media only screen and (max-width: 900px) {
            width: 60vw;
            height: 80vw;
            margin: 5vw;
            font-size: 14px;
        }
        .title{
            font-size: 30px;
        }
        .price{
            font-size: 30px;
            color: #F5DEB3;
            display: flex;
            align-items: center;
            flex-direction: column;
            p{
                font-size: 25px;
                color: darken(#F5DEB3,10%);
                animation: newprice 2s infinite;
            }
        }
        .btn{
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.2);
            border: none;
            width: 150px;
            height: 50px;
            border-radius: 5px;
        }
        &:hover{
            box-shadow: 0 0 10px #F5DEB3;
        }
        &:hover .btn{
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}
.sectionfaq{
    background-color: #2b2b2b;
    padding: 2vw 0;
}
.faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    width: 60vw;
    user-select: none;

    &__title{
        display: grid;
        place-content: center;
        font-size: 50px;
        color: #F5DEB3;
        text-shadow: 5px 5px black;
        padding-bottom: 40px;
    }

    &__first--question,&__second--question,&__third--question,&__fourth--question{
        width: 100%;
        padding: 10px;
        border: 1px solid black;
        background-color: antiquewhite;
        color: gray;
        cursor: pointer;
        &:hover{
            color: black;
        }
    }
    &__first--answer,&__second--answer,&__third--answer,&__fourth--answer{
        width: 100%;
        padding: 10px;
        color: #fff;
        background-color: #2b2b2b;
    }
}
@keyframes display {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes newprice {
    0% {
        scale: 1;
    }
    40%{
        scale: 1.5;
    }
    60%{
        scale: 1;
    }
    100%{
        scale: 1;
    }
}