<div [ngStyle]="style" (click)="onClick()" class="livesection">
    <button [ngStyle]="styleP">{{buttonText}} <i [ngStyle]="styleIconHeart" class="fa-solid fa-heart-crack fa-beat"></i><i [ngStyle]="styleIconGym" class="fa-solid fa-dumbbell fa-bounce"></i></button>
    <p>Opening hours:</p>
    <p>Monday - Saturday</p>
    <p>8:00 am - 10:00 pm</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3066.44827708369!2d-86.1634107096431!3d39.77449422113171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886b50c096c1a0dd%3A0xb2adb91b4f37ef3f!2sLift%20Lab%20Co.!5e0!3m2!1spl!2spl!4v1681591676861!5m2!1spl!2spl" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
