.livesection{
    background-color: rgba(#fff,0.6);
    width: 200px;
    max-height: 30px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 20px;
    text-align: center;
    cursor: pointer;
    overflow-y: hidden;

    button{
        height: 30px;
        width: 200px;
        color: black;
        cursor: pointer;
        border: none;
    }
    p{
        color: #454545;
    }
}