h1{
    margin-top: 10vh;
    font-size: 3rem;
    padding: 50px;
}
.img{
    width: 50vw;
    box-shadow: 0 0 10px #252525;
    @media only screen and (max-width: 1200px) {
        width: 90vw;
    }
}
.info{
    padding: 50px;
    font-size: 1.1vw;
    @media only screen and (max-width: 1200px) {
        font-size: 2vw;
        width: 90%;
    }
}
.offer{
    animation: display 0.3s ease-in;
    hr{
        padding: 2vh 0;
        border: none;
    }
    &__cardio,&__strength,&__spinning,&__sauna,&__presonaltraining,&__shop{
        display: flex;
        align-items: center;
        padding: 50px;
        @media only screen and (max-width: 1200px) {
            flex-direction: column;
        }
    }
}
@keyframes display {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}